---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a Solution Architect at Portera, I lead cloud-based software projects for international clients, leveraging my technical expertise and analytical skills to drive effective solutions. With a background in software development, architecture, and project management, I create efficient and scalable systems that improve business processes and increase productivity. I collaborate with cross-functional teams, including business stakeholders and technical teams, to deliver complex projects on time and within budget.
    </br></br>
    I have over 10 years of experience in software engineering, with a focus on cloud technologies, DevOps practices, and Microsoft technologies. I hold multiple Microsoft certifications, including Azure Developer Associate, DevOps Engineer Expert, and Azure Administrator Associate. I have developed .NET and Python projects and APIs for customers, hosted on Azure & GCP via CI/CD pipelines. I'm also managing a cloud platform of a multinational client, configuring and writing Infrastructure as Code (YAML) for CI/CD pipelines, automating management jobs, and ensuring applications follow governance standards.
    </br></br>
    Additionally, I have published multiple academic papers in the software testing area, demonstrating my passion and contribution to the field during my Master's Degree.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="MSc., Information Technology"
      subtitle="2018 to 2021 at Ege University, Izmir, Turkey"
    />
    <TimeLineElement
      title="BSc., Software Engineering"
      subtitle="2010 to 2015 at Izmir University of Economics, Izmir, Turkey"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Solution Architect at Portera"
      subtitle="From Jan 2022 to today at Portera, Amsterdam, Netherlands"
    >
      I'm leading cloud-based software projects we developed as a team for our international clients. As a seasoned Software Engineer and Solution Architect, I have been leveraging my technical expertise and analytical skills to drive effective solutions for my current organization. With a background in software development, architecture, and project management, I have been able to create efficient and scalable systems that have improved business processes and increased overall productivity. My ability to work collaboratively with cross-functional teams, including business stakeholders and technical teams, has enabled me to deliver complex projects on time and within budget.
    </TimeLineElement>
    <TimeLineElement
      title="Senior Software Engineer at Portera"
      subtitle="From Jan 2020 to Dec 2021 at Portera, Istanbul, Turkey"
    >
      • Managed the cloud platform for a multinational client, configuring CI/CD pipelines and automating daily management tasks for dozens of applications hosted in Azure, while ensuring applications adhered to enterprise architecture and security governance standards.
      <br>
      • Developed distributed .NET Web Applications and APIs for clients, leveraging Azure DevOps pipelines and Azure services across various domains, including Supply Chain and Specialty Chemicals.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer at broadAngle"
      subtitle="From Jun 2015 to Dec 2019 at broadAngle, Izmir, Turkey"
    >
      • Developed cloud-based web projects using .NET & .NET Core with C#, SQL Server, and Entity Framework.<br>
      • Utilized Angular 2+, Vue.js, jQuery, and Bootstrap for client-side development.<br>
      • Collaborated with cross-functional teams to ensure successful project delivery.<br>
      • Implemented innovative solutions to enhance user experience and optimize performance.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://learn.microsoft.com/en-gb/users/alpersilistre/credentials/bae2dbdd5f338a04" target="_blank"> Azure Solutions Architect Expert</a>
    </li>
    <li>
      <a href="https://learn.microsoft.com/en-us/users/alpersilistre/credentials/6e65b568380e1b46" target="_blank"> Azure DevOps Engineer Expert</a>
    </li>
    <li>
      <a href="https://learn.microsoft.com/en-us/users/alpersilistre/credentials/5dd8ffa0aadbf551" target="_blank"> Azure AI Engineer Associate</a>
    </li>
    <li>
      <a href="https://learn.microsoft.com/en-us/users/alpersilistre/credentials/3db6918826aed4aa" target="_blank"> Azure Developer Associate</a>
    </li>
    <li>
      <a href="https://learn.microsoft.com/en-us/users/alpersilistre/credentials/c458e217ed367f19" target="_blank"> Azure Administrator Associate</a>
    </li>
    <li>
      <a href="https://www.credly.com/badges/78271ae7-6fdd-43d8-918a-1b7bb791d308/" target="_blank"> Google Professional Cloud Architect Certification</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Academic</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://ieeexplore.ieee.org/document/9422704" target="_blank"> Model-Based Ideal Testing of GUI Programs–Approach and Case Studies</a>
    </li>
    <li>
      <a href="https://ieeexplore.ieee.org/document/9247072" target="_blank"> Models in Graphical User Interface Testing: Study Design</a>
    </li>
    <li>
      <a href="https://ieeexplore.ieee.org/document/9222878" target="_blank"> Community Detection in Model-based Testing to Address Scalability: Study Design</a>
    </li>
    <li>
      <a href="https://ieeexplore.ieee.org/document/8859463" target="_blank"> Random Test Generation from Regular Expressions for Graphical User Interface (GUI) Testing</a>
    </li>
  </ul>

  <!--
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>.NET</li>
    <li>ASP.NET</li>
    <li>C#</li>
    <li>Azure</li>
    <li>GCP</li>
    <li>SQL</li>
    <li>JavaScript</li>
    <li>Python</li>
  </ul>
  -->
</BaseLayout>
